body {
	font-family: 'Ubuntu', sans-serif;
}


#navbar-example2 {
	color: white;
}
.navbar {
	background-color: black;
	color: white;
	opacity: 0.7;
}

.nav-link {
	font-size: 20px;
	padding-right: 20px;
	margin-right: 20px;
}

.logo {
	font-size: 35px;
	padding-left: 20px;
	margin-left: 20px;
	color: white;
	font-family: 'Boogaloo', cursive;
	text-shadow: 3px 3px blue;
}

.jumbotron {
	text-align: center;
	color: white;
	height: 800px;
	background-image: url('../images/train2.JPG');
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover; 
	
}

.display-4 {
	margin-top:80px;
	font-size: 80px;
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 3px 3px black;
}

.app {
	font-size: 30px;
	margin-top: 40px;
	text-shadow: 3px 3px black;
}

.card {
	margin: 20px;
}

.first {
	margin-bottom: 50px;
	margin-top: 40px;
}

.second {
	margin-bottom: 50px;
	margin-top: 50px;
}

footer {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	height: 65px;
	width: 100%;
	margin-top: 80px;
	clear: both;
 	bottom: 0;
 	background-color: black;
 	

}

footer h6 {
	text-align: center;
 	font-size: 12px;
 	bottom: 0;
 	padding-top: 30px;
 	color: white;
 	text-shadow: 3px 3px blue;
}